repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length","100"]
        additional_dependencies: []
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--max-line-length","100"]
  - repo: https://github.com/returntocorp/semgrep
    rev: v1.92.0
    hooks:
      - id: semgrep
        args: ["--config",".semgrep.yml"]
